body {
  background-color: #e5e5e5;
}

.ingredients,
.hops,
.malts,
.yeast,
.method,
.fermentation,
.mash,
.stats,
li {
  font-family: Roboto, sans-serif;
}

.header-box {
  background-color: #d9d9d9;
  height: 80px;
}

.main-title {
  text-decoration: none;
  font-family: Lobster, sans-serif;
  font-size: 3rem;
  color: #f44336;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.recipe-link,
.feed-link,
.post-link {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  color: #f44336;
  padding: 0.75rem;
}

.welcome-text {
  font-family: Lobster, sans-serif;
  color: black;
  font-size: 3rem;
  text-align: center;
}

.carousel-box {
  height: 500px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px black;
  align-items: center;
  display: flex;
}

.fa-chevron-left {
  font-size: 3rem;
  cursor: pointer;
}

.fa-chevron-right {
  font-size: 3rem;
  cursor: pointer;
}

.carousel-title {
  font-family: Lobster, sans-serif;
  font-size: 2rem;
}

.carousel-text {
  font-family: Roboto, sans-serif;
  font-size: 1.45rem;
  line-height: 2rem;
}

.carousel-image {
  height: 20rem;
  width: 26rem;
  margin-left: 2rem;
  object-fit: cover;
  border-radius: 5px;
}

.recipes-box {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px black;
  margin-top: 5rem;
}

.recipes-text {
  font-family: Lobster, sans-serif;
  color: black;
  font-size: 3rem;
  margin-left: 3rem;
}

select {
  width: 8rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: 2px solid gray;
}

.filters-label {
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

.span-box {
  display: flex;
  width: 100%;
  justify-content: center;
}

.fa-circle {
  font-size: 1.25rem;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.div-card {
  background-color: #d9d9d9;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 6px black;
}

.beer-image {
  border-radius: 10px;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border: 4px solid white;
}

.beer-name {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  text-align: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.details-text {
  font-family: Roboto, sans-serif;
  font-size: 0.75rem;
  text-align: center;
}

.recipe-details-box {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px black;
  margin-top: 5rem;
}

.beer-title {
  font-family: Lobster, sans-serif;
  color: black;
  font-size: 3rem;
  margin-left: 3rem;
  padding-top: 2rem;
}

.tag-line {
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  margin-left: 3rem;
}

.tip,
.description {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  margin-left: 3rem;
  padding-top: 1rem;
}

.new-post-box {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px black;
  margin-top: 5rem;
}

.form-header-text {
  font-family: Lobster, sans-serif;
  color: black;
  font-size: 3rem;
  margin-left: 3rem;
  margin-bottom: 4rem;
}

.new-post-image {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.post-title,
.post-content,
.new-post-label {
  display: block;
  width: 85%;
  margin-top: 0.5rem;
  border-radius: 4px;
}

.new-post-label {
  font-size: 1.2rem;
  font-family: Roboto, sans-serif;
}

.post-title,
.post-content {
  border: 1px solid #b6b6b6;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}

.post-title {
  height: 2.5rem;
  margin-bottom: 1.5rem;
}

.post-content {
  height: 7rem;
  margin-bottom: 1rem;
}

.post-photo-file {
  width: 71%;
  margin-top: 0.75rem;
  margin-bottom: 3.5rem;
  font-family: Roboto, sans-serif;
  font-size: 0.85rem;
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  border: 2px solid #f44336;
  border-radius: 5px;
  color: #f44336;
  background-color: white;
  cursor: pointer;
  height: 2rem;
  width: 6rem;
  margin-right: 1rem;
  font-size: 0.9rem;
}

.post-content:focus,
.post-title:focus {
  outline: 2px solid #f44336;
}

.post-button {
  color: white;
  background-color: #f44336;
  border-radius: 5px;
  border: none;
  height: 2rem;
  width: 4rem;
  font-size: 1rem;
  cursor: pointer;
}

.feed-header-text {
  margin-top: 2rem;
  margin-left: 3rem;
  font-family: Lobster, sans-serif;
  font-size: 3rem;
}

.no-content-text {
  font-family: Lobster, sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.form-results {
  list-style-type: none;
}

.post {
  margin-top: 3rem;
  background-color: white;
  box-shadow: 0 4px 15px black;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.picture {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  margin: 1rem;
}

.topic {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-left: 2rem;
}

.content {
  font-family: Roboto, sans-serif;
  font-size: 1.3rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.pen-box {
  display: flex;
  justify-content: right;
  align-items: center;
}

.fa-trash-can,
.fa-pen-to-square {
  color: #f44336;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1.5rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 50%);
}

.modal-box {
  width: 20rem;
  height: 10rem;
  background-color: white;
  box-shadow: 0 4px 15px black;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 40%;
}

.button-box {
  display: flex;
  justify-content: space-between;
}

.question {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
}

.cancel {
  margin-left: 1rem;
}

.confirm {
  margin-right: 1rem;
}

@media screen and (max-width: 767px) {
  .carousel-box {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .fa-chevron-left,
  .fa-chevron-right {
    font-size: 2rem;
    position: relative;
  }

  .fa-chevron-left {
    top: 70%;
    left: 50%;
  }

  .fa-chevron-right {
    bottom: 34%;
    left: 50%;
  }

  .carousel-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .carousel-text {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }

  .carousel-image {
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    border-radius: 5px;
  }

  .recipes-box {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px black;
    margin-top: 5rem;
  }

  .recipe-details-box {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .tag-line,
  .tip,
  .description,
  .beer-title {
    margin-left: 2rem;
  }

  .new-post-box {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
  }

  .new-post-label,
  .post-title,
  .post-content,
  .post-photo-file {
    margin-left: 1.5rem;
  }

  .post-photo-file {
    width: 65%;
  }

  .new-post-image {
    margin-left: 1.5rem;
  }

  .form-results {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: 90%;
  }

  .picture {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
  }

  .pen-box {
    align-items: flex-end;
    margin-bottom: 0.5rem;
  }
}
